html, body{
    height: 100%;
    margin: 0;
}

body{
    text-align: center;
}

#general{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #4abdac;
}

#titulo{
    margin: 10px;
}

#titulo>h1{
    width: 100%;
    height: 100%;
    text-align: center;
    top: 50%;
    font-family: Trebuchet MS;
    font-size: 55px;
    color: #FBFBFB;
}

#formulario{
    font-family: Trebuchet MS;
    font-size: 35px;
    color: #FBFBFB;
}

#noms-jugadors{
    background-color: #FBFBFB;
    font-family: Trebuchet MS;
    font-size: 20px;
    color: #242424;
}

select, option{
    background-color: #FBFBFB;
    font-family: Trebuchet MS;
    font-size: 20px;
    color: #242424;
}

option:hover{
    background-color: #4abdac;
}

#boto{
    background-color: #FBFBFB;
    font-family: Trebuchet MS;
    font-size: 20px;
    border: 1;
    color: #242424;
}

.label, .error{
    align: left;
    font-size: 20px;
}