#general{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #4abdac;
    overflow-y: hidden;
}

#players-output{
    width: 15%;
    height: 100%;
    background-color: #4abdac;
    overflow-x: hidden;
    /*overflow-y: scroll;*/
    position: absolute;
    top: 10px;
    left: 25px;
}

.player-name{
    width: 100%;
    height: 100%;
}

.player-name label{
    font-size: 15pt;
}

#players-output img{
    width: 80px;
}

#piramide-output{
    position: absolute;
    right: 0;
    top: 10px;
    width: 85%;
    height: 100%;
    background-color: #4abdac;
}

#piramide-fila{
    width: 100%;
    height: 100%;
}

#piramide-output img{
    width: 55px;
}

.card-img{
    text-align: center;
}

#console-output{
    position: absolute;
    right: 0;
    bottom: 40px;
    width: 85%;
    height: 15%;
    background-color: #4abdac;
    overflow-y: hidden;
}

#info, #botonera {
    background-color: #4abdac;
    text-align: center;
    vertical-align: center;
}

#info {
    margin: 40px;
}

#info label{
    font-size: 20pt;
}

#botonera {
    margin: 20px;
}

#botonera a{
    padding: 3px;
    background-color: #4FBFBFB;
    text-decoration: none;
    font-size: 14pt;
    color: black;
    box-shadow: 2px 2px 2px black;
}

.label, .nom-jugador{
    font-family: Trebuchet MS;
    font-size: 80px;
    color: #FBFBFB;
}

.boto{
    background-color: #FBFBFB;
    font-family: Trebuchet MS;
    font-size: 20px;
    border: 1;
    color: #242424;
}